# Binaries
!vendor/bin/premake/
bin-int/

/bin
/build
/cmake-build-debug
.vscode
.idea

# C++ garbage files
Hasher.cc
Hasher.hpp
Runner.cc
Runner.hpp

Scene.old.*

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.vssettings
*.gch

# Other
ECS/
*.ini
*.lib
*.exe