# Binaries
!vendor/bin/premake/
**/bin-int/
**/bin/
**.idb
**.pdb
**.ilk
**.obj
**/Debug/
**/out/
/bin
/build
/cmake-build-debug
.vscode
.idea

# C++ garbage files
Hasher.cc
Hasher.hpp
Runner.cc
Runner.hpp

Scene.old.*

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
*.vssettings
*.gch

# Other
ECS/
!/KGE/vendor/v8/src/**/debug/
**.ini
**.lib
**.exe
**.pdb
